

h1{
    color:#369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    text-align: center;
}
h2,h3{
    color:#444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
/* body{
    background: url(./picture/1234.jpg);
    body {
    background-image: url(../picture/yes.jpg);  
    background-repeat: no-repeat;
    background-size: cover; 
}
    margin: 2em;
} */
body, input[type ="text"] ,button {
    color: #333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

*{
    font-family:Arial, Helvetica, sans-serif
}
body{
    background: url(https://images.ctfassets.net/7lhcm73ukv5p/5oFMM6UnrEpjSZOXVhrZyb/6b6f9558f0514ded4e6f3d9bcbe0730e/eve-academy-main-hero-bkgr.jpg);
    
         
        background-repeat: no-repeat;
        background-size: cover; 
    }
